<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<% include menu %>

			<!-- Banner -->
				<section id="banner">
					<h2>DataLoop</h2>
					<p>World is complex. Data is helpful. People are just smart!</p>
					<ul class="actions">
						<li><a href="#newRepository" class="button special anchorLink">Get Start</a></li>
						<li><a href="#Introduction" class="button anchorLink">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h3>Data Repositories</h3>

						<h4>Select data repository to contribute, or create your own repository for your purpose</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Description</th>
										<th>Access</th>
									</tr>
								</thead>
								<tbody>
								<% for(var i=0; i<entries.length; i++) { %>
									<tr>
										<td><%= i %></td>
										<td><a href='/dataloop/<%= entries[i].name %>'><%= entries[i].name %></a></td>
										<td><%= entries[i].description %></td>
										<td><% if (entries[i].private) { %>Private<% } else { %>Public<% } %></td>
									</tr>
								<% } %>
								</tbody>
							</table>
						</div>
					</section>

					<section class="box" id="newRepository">
						<h3>New Repository</h3>
						<form method="post" action="/dataloop/" id="newRep">
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="entry[name]" id="name" value="" placeholder="Name" />
								</div>
								<div class="3u 12u(mobilep)">
									<a href="javascript: void(0)" class="button special" id="addColumn">More Column</a>
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="entry[field1]" id="name" value="" placeholder="Column Name" />
								</div>
								<div class="3u">
									<div class="select-wrapper">
										<select name="entry[type1]" id="category">
											<option value="">- Type -</option>
											<option value="1">Integer</option>
											<option value="1">Floating</option>
											<option value="1">Date</option>
											<option value="1">Selection</option>
										</select>
									</div>
								</div>
								<div class="3u 12u(mobilep)">
									<a href="javascript: void(0)" class="button removeColumn" id="removeColumn" index="1">Remove</a>
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="entry[field2]" id="name" value="" placeholder="Column Name" />
								</div>
								<div class="3u">
									<div class="select-wrapper">
										<select name="entry[type2]" id="category">
											<option value="">- Type -</option>
											<option value="1">Integer</option>
											<option value="1">Floating</option>
											<option value="1">Date</option>
											<option value="1">Selection</option>
										</select>
									</div>
								</div>
								<div class="3u 12u(mobilep)">
									<a href="javascript: void(0)" class="button removeColumn" id="removeColumn" index="2">Remove</a>
								</div>
							</div>
							<div class="row uniform 50%" id="accessSetting">
								<div class="4u 12u(narrower)">
									<input type="radio" id="priority-low" name="entry[access]" value="0" checked>
									<label for="priority-low">Public</label>
								</div>
								<div class="4u 12u(narrower)">
									<input type="radio" id="priority-high" name="entry[access] value="1">
									<label for="priority-high">Private</label>
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<textarea name="entry[description]" id="message" placeholder="Description (Optional)" rows="6"></textarea>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Create" /></li>
										<li><input type="reset" value="Reset" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>

					<div class="row" id="Introduction">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Idea</h3>
								<p>Everyone could be a source of data - it's the information of your life. Data are more valuable only when they are together. The idea behind DataLoop is to give everyone the chance to share his data and get back those valuable </p>
								<ul class="actions">
									<li><a href="/dataloop/idea" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
				var minColumn = 2;
				var maxColumn = 8;
				var currentColumn = 2;
				var names = [];
				for (var i=3; i<=maxColumn; i++) {
					names.push(i);
				}
				console.log("origianl names", names);
				$(document).ready(function(){
  					$(".anchorLink").click(function(e){
    					e.preventDefault();
					    var id     = $(this).attr("href");
					    var offset = $(id).offset();
					    $("html, body").animate({
      						scrollTop: offset.top
    					}, 300);
  					});
				});
				$('#addColumn').click(function() {
					if (currentColumn <= maxColumn) {
						currentColumn += 1;
						console.log("before add: ", currentColumn);
						var useIndex = names.pop();
						console.log("use index", useIndex);
						var newdiv = document.createElement('div');
						$(newdiv).addClass("row uniform 50%");
						newdiv.innerHTML = '<div class="6u 12u(mobilep)">'
										 + '	<input type="text" name="entry[field' + useIndex + ']" id="name" value="" placeholder="Column Name" />'
										 + '</div>'
										 + '<div class="3u">'
										 + '	<div class="select-wrapper">'
										 + '		<select name="type' + useIndex + '" id="category">'
										 + '			<option value="">- Type -</option>'
										 + '			<option value="1">Integer</option>'
										 + '			<option value="1">Floating</option>'
										 + '			<option value="1">Date</option>'
										 + '			<option value="1">Selection</option>'
										 + '		</select>'
										 + '	</div>'
										 + '</div>'
										 + '<div class="3u 12u(mobilep)">'
										 + '<a href="javascript: void(0)" class="button removeColumn" id="removeColumn" index="'+ useIndex + '">Remove</a>'
										 + '</div>';
						console.log(newdiv);
						$('#accessSetting').before(newdiv);
						console.log("after add: ", currentColumn);
					}
				});
				$(document).on('click', '.removeColumn', function() {
					if (currentColumn >= maxColumn) {
						currentColumn -= 1;
						names.push($(this).attr("index"));
						console.log("current names", names);
						console.log("before remove: ", currentColumn);
				    	$(this).parent().parent().remove();
				    	console.log("after remove: ", currentColumn);
				    }
				});
			</script>

	</body>
</html>