<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include menu %>
        <a href='/entry' class='ph-button ph-btn-blue'>Add</a>
        <div class="wrapper">
        <div class="table">
            <div class="row header">
                <div class="cell index">#</div>
                <div class="cell">Name</div>
                <div class="cell button plusTd" onclick="window.location='/entry';"></div>
            </div>
            <% for(var i=0; i<entries.length; i++) { %>
                <div class="row">
                    <div class="cell index"><%= i %></div>
                    <div class="cell name"><a href='/collection/<%= entries[i].name %>'><%= entries[i].name %></a></div>
                    <div class="description" style="display: none"><%= entries[i].description %></div>
                    <div class="cell index">
                        <% if (entries[i].private) { %>
                            Private
                        <% } else { %>
                            Public
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
        </div>
    <%# include pager %>
  </body>
</html>