<% if (posts.length == 0) { %>
    <div class="panel panel-default">
        <div class="panel-body">
            No blog.
        </div>
    </div>
<% } else { %>
    <% for(var i=0; i<posts.length; i++) { %>
        <section>
            <header>
                <h3><a href="/work/blog/post/<%= posts[i].post_id %>"><strong><%= posts[i].post_title %></strong></a></h3>
                <h5><%= posts[i].post_date %></h5>
            </header>
            <div class="content">
                <%- posts[i].post %>
            </div>
        </section>
    <% } %>
    <ul class="pagination">
        <% for (i=1; i<=pages; i++) { %>
        <% if (page == i) { %>
        <li class="active"><a href="/work/blog/<%= i %>"><%= i %></a></li>
        <% } else { %>
        <li><a href="/work/blog<%= i %>"><%= i %></a></li>
        <% } %>
        <% } %>
    </ul>
<% } %>