		<% if (posts.length == 0) { %>
			<div class="panel panel-default">
				<div class="panel-body">
					Sorry, my blog is not working.
				</div>
			</div>
		<% } else { %>
			<% for(var i=0; i<posts.length; i++) { %>
				<div class="blog-post">
					<a href="/home/blog/post/<%= posts[i].post_id %>"><h2 class="blog-post-title" id="info_extraction"><%= posts[i].post_title %></h2></a>
					<p class="blog-post-meta"><%= posts[i].post_date %></p>

					<%- posts[i].post %>
				</div>
			<% } %>
			<% if (pages > 1) { %>
				<!--<% if (page>1) { %>-->
					<!--<a href="/home/blog/<%= page-1 %>">Prev</a>-->
				<!--<% } %>-->
				<!--<% if (page<pages) { %>-->
					<!--<a href="/home/blog/<%= page+1 %>">Next</a>-->
				<!--<% } %>-->


				<nav aria-label="Page navigation">
					<ul class="pagination">
						<% for (var i=1; i<=pages; i++) { %>
							<% if (page == i) { %>
								<li class="active"><a href="/home/blog/<%= i %>"><%= i %></a></li>
							<% } else { %>
								<li><a href="/home/blog<%= i %>"><%= i %></a></li>
							<% } %>
						<% } %>
					</ul>
				</nav>
			<% } else if (pages == 0) { %>
				<nav aria-label="...">
					<ul class="pager">
						<li><a href="blog">See more</a></li>
					</ul>
				</nav>
			<% } %>
		<% } %>