
					<% posts.forEach(function(post) { %>
						<section>
							<h3><a href="blog/post/<%= post['post_id'] %>"><%= post['post_title'] %></a></h3>
							<h6 class='date'><%= post['post_date'] %></h6>
							<p><%= post['post_desc'] %></p>
						</section>
					<% }) %>

					
					<!-- Pagination -->
					<% if ( reqpage && pages > 1 ) { %>
						<div class="pagination">
							<!--<a href="#" class="button previous">Previous Page</a>-->
							<div class="pages">
							<% if(pages > 6) { %>
								<a href="1" class="active">1</a>
								<a href="2">2</a>
								<a href="3">3</a>
								<a href="4">4</a>
								<span>&hellip;</span>
								<a href="<%= pages %>"><%= pages %></a>
							<% } else { %>
								<% for (var i=1; i<=pages; i++) { %>
									<a href="<%= i %>" <% if(i==page) { %> class="active" <% } %> ><%= i %></a>
								<% } %>
							<% } %>
							</div>
							<a href="#" class="button next">Next Page</a>
						</div>
					<% } %>